h1{
    color: #ff0000;
    font-size: 40px;
    font-weight: normal;
    font-family:"impact";
    text-align: center;
    background-color: black;
}

body{
    background-image: url(../images/back2.jpeg);
}