h1{
    color: black;
    font-size: 50px;
    text-align: center;
    background-color: #adfce7;
    font-family:'ＭＳ ゴシック'
}

h2{
    text-align: center;
    font-size: 35px;
    background-color: #adfcc5;
}

body{
    background-image: url(../images/EXback4.jpeg);
    background-attachment: fixed;
}

table{
    background-color: deeppink;
    font-family: 'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-size: 20px;
}

ol{
    background-image: url(../images/EXback5.jpeg);
}